{% set selectedMenu = 'integrate' %}
{% extends 'MajorApiAppBundle:WebLayouts:default.html.twig' %}

{% block title %}Major &mdash; QuickBooks REST API &mdash; Connect{% endblock %}

{% block body %}
    <article>
        <div class="wrapper">
            <div class="clearfix limiter">
                <div class="sidebar">
                    <img src="{{ asset('bundles/majorapiapp/images/integrate-arrows.jpg') }}" alt="MajorApi Integrations Logo" class="col-3" >
                </div>

                <div class="content">
                    <h1>Connect</h1>
                    <p>
                        Major has featured connections with a number of payment processors that allow
                        you to perform complex interactions with QuickBooks.
                        <strong>No more manually importing CSVs into QuickBooks</strong> &mdash; this is completely automated!
                    </p>
                    <p>
                        Click the logo of the payment processor you use to get started.
                    </p>
                    <ul class="no-bullets integrations-list clearfix">
                        <li><a class="stripe graphic" href="{{ path('majorapi_web_connect_with_stripe') }}">Stripe</a></li>
                        <li><a class="balanced graphic" href="#">Balanced</a></li>
                        <li><a class="paypal graphic" href="#">PayPal</a></li>
                        <li><a class="braintree graphic" href="#">Braintree</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
