/web/bundles/*
/web/.htaccess
/app/app/SymfonyRequirements.php
/app/bin/phing-release/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/build.settings
/vendor/*
/app/config/parameters.yml
/src/MajorApi/AppBundle/Resources/public/javascript/components/*
/config/phing
bin
*.sass-cache*
composer.phar
phpunit.phar
vendor
node_modules
log
REVISION
tmp
*.swp
.DS_Store
