db_settings.host=
db_settings.database=
db_settings.username=
db_settings.password=

db_settings_test.host=
db_settings_test.database=
db_settings_test.username=
db_settings_test.password=

redis_host=
redis_port=6379

api_key_length=

plan_amount=29.00
transaction_rate=.25
records_per_page=20

stripe_secret_key=
stripe_publishable_key=
stripe_client_id=
