<li class="drop-list" data-ui-droplist-group="account" data-ui-droplist-role="list">
    <span class="prompt" data-ui-droplist-group="account" data-ui-droplist-role="open">{{ app.user.getEmail }}</span>
    <ul data-ui-droplist-group="account" data-ui-droplist-role="items">
        <li class="big-link"><a href="{{ path('majorapi_web_authentication_sign_out') }}">Sign Out</a></li>
    </ul>
</li>
