{% set selectedMenu = 'contact-us' %}
{% extends 'MajorApiAppBundle:WebLayouts:default.html.twig' %}

{% block title %}Major &mdash; Contact Us{% endblock %}

{% block body %}
    <article>
        <div class="wrapper">
            <div class="clearfix limiter">
                <div class="sidebar">
                    <img src="{{ asset('bundles/majorapiapp/images/logo-circle.jpg') }}" alt="Major Logo" class="col-3" >
                </div>

                <div class="content">
                    <h1>Contact Bright March</h1>
                    <p>
                        Questions on how to connect QuickBooks WebConnector? Need help with the Major QuickBooks REST API? Want to know if we support a specific QuickBooks feature?
                    </p>
                    <p align="center">
                        <a href="mailto:admin@brightmarch.com"><strong>admin@brightmarch.com</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
