{% set selectedMenu = 'developers' %}
{% set developersMenu = 'quickbooks-api-accounts' %}
{% extends 'MajorApiAppBundle:WebLayouts:default.html.twig' %}

{% block title %}Major &mdash; Developers &mdash; QuickBooks Accounts API{% endblock %}

{% block body %}
    <article>
        <div class="wrapper">
            <div class="documentation clearfix limiter">
                {% include 'MajorApiAppBundle:WebTemplates:developers-menu.html.twig' %}

                <div class="doc">
                    <h1>QuickBooks Accounts API</h1>
                    <p>
                        QuickBooks generally comes with around 30 different accounts pre-installed. You can add as many accounts as you like however. When you connect your Major application with QuickBooks, all of the accounts you have
                        configured will be imported into the Major database. This makes it very easy to query the different accounts you have configured.
                    </p>

                    <h2>Retrieving an Existing Account or Accounts</h2>
                    <p>
                        <code><strong>GET</strong><br>https://majorapi.com/api/quickbooks/accounts</code>
                    </p>
                    <p>
                        <code><strong>GET</strong><br>https://majorapi.com/api/quickbooks/accounts/{accountName}</code>
                    </p>
                    <p>
                        <strong>Note</strong> &mdash; Accounts are retrieved by their name. If the name has a space in it, it must be URL encoded properly. The name does not have to be capitalized; Major will handle normalizing the name
                        to best attempt to locate the account.
                    </p>
                    <p>
                        Because there are usually no more than 50 accounts associated with a QuickBooks file, you have the option of reading all of your accounts with a single API call.
                    </p>

                    <h3>Successful Request and Response</h3>

                    <h4>200 Ok</h4>
<pre>curl -X GET \
    -u "username:API_KEY" \
    -H "Accept: application/json" \
    https://majorapi.com/api/quickbooks/accounts</pre>

<pre>[
    {
        "created": "2013-01-11T21:12:42+00:00",
        "updated": "2013-01-11T21:12:42+00:00",
        "status": 1,
        "applicationName": "Major",
        "applicationUsername": "major",
        "name": "Office Supplies",
        "fullname": "Office Supplies",
        "isActive": true,
        "subleve": 0,
        "type": "Expense",
        "specialType": null,
        "accountNumber": 61000,
        "description": "Office supplies expense",
        "balance": 5333.33,
        "totalBalance": 5333.33,
        "cashFlowClassification": "None",
        "_links": [
            {
                "rel": "self",
                "method": "GET",
                "href": "https://majorapi.com/api/quickbooks/accounts/Office%20Supplies"
            }
        ]
    }
]</pre>

                    <p>
                        <strong>Note</strong> &mdash; Regardless if you retrieve a single account or multiple accounts, all responses are returned in a JSON array.
                    </p>

                    <h3>Unsuccessful Request and Response</h3>

                    <h4>404 Not Found</h4>
<pre>curl -X GET \
    -u "username:API_KEY" \
    -H "Accept: application/json" \
    https://majorapi.com/api/quickbooks/accounts/Invalid%20Name</pre>

<pre>{
    "httpCode": 404,
    "message": "A QuickBooks Account with the name Invalid Name could not be found.",
    "violations": []
}</pre>

                </div>
            </div>
        </div>
    </article>
{% endblock %}
