<!doctype html>
<html>
<head>
    <title>Welcome to the MajorApi API</title>
</head>
<body>
    <h1>Welcome to the MajorApi API</h1>
    <p>
        <strong>Build Date:</strong> {{ buildDate }}
    </p>
</body>
</html>
